<h1>Your Order</h1>
<ul>
<% @order_items.each do |item| %>
    <!-- <li><%# image_tag(product.image_url, class: 'list_image') %> </li> -->
      <li> <%= item.product.name %></li>
      <li> Quantity: <%= item.quantity %></li>
      <li> Price: <%= item.product.price %></li>
<% end %>
</ul>
