/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.container {
   margin: 20px;
}

body {
  background-color: rgba(245,242,225, 0.5);
  font-family: 'Rubik', sans-serif;
}

h1, .title-area, .name {
  margin: 0 0;
  width: 100rem;
  background-color: rgb(245,242,225);
}

.name {
  list-style: none;
}

a {
  color: #e6e6e6;
}

a:hover {
  color: #cacaca;
}

.row.top-bar {
  max-width: 100rem;
  margin-left: none;
  margin-right: none;
}

.top-bar {
  box-shadow:0px 1px 1px rgb(136,149,194);
}

.top-bar, .top-bar ul {
  background-color: rgb(136,149,194);
  padding: 0;
}

.dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a::after {
    border-top-color: #e6e6e6;
}

.logo-name {
  position: absolute;
  left: 8.5rem;
  top: 2rem;
  color: rgb(136, 149, 194);
  text-shadow: 2px 2px 3px rgb(82, 82, 142);
  font-family: 'Chelsea Market', cursive;

}

li.column, li.field {
  list-style: none;
}

.small-up-4 > li, .small-up-3 > li {
  margin-bottom: 2.25rem;
  margin-top: 2rem;
}


h2 {
  color: rgb(136, 149, 194);
  text-shadow: 2px 2px 3px rgb(82, 82, 142);
  font-family: 'Chelsea Market', cursive;
}

h3 {
  font-family: 'Chelsea Market', cursive;
  margin-top: 2rem;

}

.product-info {
  color: rgb(82, 82, 142);
  font-family: 'Rubik', sans-serif;
}

.notice {
  font-weight: bold;
  font-size: 1rem;
}

.body-text a {
  color: #8895c2;
}

.body-text a:hover {
  color: rgba(255, 0, 0, 0.66);
}

.button {
  background-color: #8895c2;
}

#white-link{
  color: white;
}
