body {
  background-image: url("cute_robots.jpg");
  background-size: auto;
}

.container {
  background-color: #F1F2F2;
  opacity: 0.95;
  overflow: hidden;
  margin: 0px;
}

nav {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

table {
  text-align: left;
}
