// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome-message {
  margin-top: 2rem;
}

.welcome-message > h2, .welcome-message > h3 {
  font-family: 'Chelsea Market', cursive;
  text-shadow: 2px 2px 3px rgb(136, 149, 194);
}

.welcome-message > h2 {
  color: rgb(82, 82, 142);
}

.welcome-message > h3 {
  color: rgb(136, 149, 194);
}
