<ul>
<% @products.each do |product| %>
   <li class="image"><%=link_to product.image_stored? ? image_tag(product.image.thumb('80x60').url) : "", product_path(product) %></li>
   <li><%= link_to product.name, product_path(product.id) %></li>
   <li> Price: <%= product.price %></li>
   <li>In Stock: <%= product.quantity %></li>
<% end %>
</ul>
